<% content_for(:body_id, "registrations_new") %> 


<div class="row" id="top">

  <div class="large-6 columns"></div>

  <div class="large-3 large-offset-3 columns">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<div><%= f.label :email %><br />
  	<%= f.email_field :email, :autofocus => true, class: "glowing-border" %>
  	</div>

	<div><%= f.label :password %><br />
	  <%= f.password_field :password, class: "glowing-border" %></div>

	<% if devise_mapping.rememberable? -%>
		<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	<% end -%>

	<div><%= f.submit "Sign in", class: "button radius" %></div>
	<% end %>
  </div>
</div>
